.new__card {
  font-family: sans-serif;
  color: #333;
  padding: 4px;
  background-color: rgba($color: #fff, $alpha: 0.85);
  width: 150px;
  height: 50px;
  overflow: hidden;
  position: 'absolute';

.nav__arrows{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:5px;
}

  .visible {
  opacity: 1;
}
  .priority-ribbon {
    position: absolute;
    padding: 1px;
    top: 0px;
    right: 0px;
    background: #f3d;
    color: #fff;
    
    & small {
      font-size: 10px;
    }
  }

  main {
    flex: 1;
    margin-top: 20px;
    .title {
      color: #222;
      line-height: 1.1;
      margin: 0px;
    }
    .message {
      margin: 4px 0;
      text-align: center;
      color: #333;
      line-height: 1.1;
      max-height: 70px;
      overflow: hidden;
    }
  }

  header {
    display: flex;
    align-items: start;
    img {
      position: relative;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    p {
      display: inline-block;
      padding-left: 8px;
      margin-bottom: 2px;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 2px;
    min-height: 20px;
    font-size: 10px;
    line-height: 1.1;
    .category {
      background-color: #dca33a;
      padding: 2px;
      padding-left: 4px;
      flex: 2;
      display: flex;
      align-items: center;
    }

    .status {
      position: absolute;
      padding: 1px;
      top: 0px;
      left: 0px;
      background: #f3d;
      color: #fff;
      padding: 2px;
      flex: 1;
      color: #fff;
      text-align: center;
      width: 50px;
    }
  }
}
.hidden {
  opacity: 0!important;
  height: 0px!important;
  width: 0px!important;
  overflow: hidden!important;
  display: none!important;
  pointer-events: none;
}
